﻿@model IEnumerable<FA.Project.Model.Trainee>

@{
    ViewData["Title"] = "Index";
}

<h1>List trainee</h1>

<p>
    <a asp-action="Create" style="color:green;font-size:24px"><i class="fas fa-folder-plus"></i>Create New</a>
</p>
<div class="table-responsive-sm" style="overflow-x:auto">
    <table class="table" @*style="border:1px solid yellow"*@>
        <thead style="border:1px solid yellow">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isDelete)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @if (item.isDelete == true)
            {
    <input type="checkbox" disabled checked> }
else
{
    <input type="checkbox" disabled>}
        </td>
        @if (item.isDelete == false)
        {
    <td>
        <a asp-action="Edit" asp-route-id="@item.TraineeId">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.TraineeId">Delete</a>
    </td> }
                    else
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TraineeId">Edit</a>
                        </td>
                    }

    </tr>}
        </tbody>
    </table>
    </div>
