﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="300">
            <img src="~/image/fpt.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="200">
            <img src="~/image/FPT-Software-Academy-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/image/code-war-2019.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="https://congngheviet.com/fpt-software-academy-dao-tao-nhan-su-cong-nghe-chat-luong-cao/" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="imagesAll">

</div>
