﻿@model IEnumerable<FA.Project.Model.Trainee>

@{
    ViewData["Title"] = "Details";
}

<h1>List trainee of class</h1>
<p>
    <a asp-action="listAddtrainee" style="color:green;font-size:24px"><i class="fas fa-folder-plus"></i>Add Trainee</a>
</p>

<div class="table-responsive-sm" style="overflow-x:auto">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.AllocationStatus)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="EditTrainee" asp-route-id="@item.TraineeId">@Html.DisplayFor(modelItem => item.FullName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllocationStatus)
                    </td>
                    <td>
                        <a asp-action="DetailsTrainee" asp-route-id="@item.TraineeId">Details</a> |
                        <a asp-action="DeleteTrainee" asp-route-id="@item.TraineeId">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

