﻿@model FA.Project.Model.Trainee

@{
    ViewData["Title"] = "EditTrainee";
}

<h1>Change Trainee's Status </h1>

<h4>@Html.DisplayFor(model => model.FullName)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TraineeId" />
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @*<select asp-for="Status" class="form-control"></select>*@
                <select asp-for="Status" class="form-control"
                        asp-items="@Html.GetEnumSelectList<FA.Project.Model.Trainee.StatusDetail>()">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AllocationStatus" class="control-label"></label>
                <input asp-for="AllocationStatus" class="form-control" />
                <span asp-validation-for="AllocationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditTrail" class="control-label"></label>
                <input asp-for="AuditTrail" class="form-control" />
                <span asp-validation-for="AuditTrail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDelete" /> @Html.DisplayNameFor(model => model.isDelete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ClassBatchId" class="control-label"></label>
                <select asp-for="ClassBatchId" class="form-control" asp-items="ViewBag.ClassBatchId"></select>
                <span asp-validation-for="ClassBatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
