﻿@model IEnumerable<FA.Project.Model.ClassBatch>

@{
    ViewData["Title"] = "Index";
}

<h1>Class Batches</h1>

<p>
    <a asp-action="Create" style="color:green;font-size:24px"><i class="fas fa-folder-plus"></i>Create New</a>

</p>
<div class="table-responsive-sm" style="overflow-x:auto">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClassName)
                   
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassCode)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Note
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.ClassId"> @Html.DisplayFor(modelItem => item.ClassName) </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassCode)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.ClassId">Edit</a> |*@
                        <a asp-action="Details" asp-route-id="@item.ClassId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ClassId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>