﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    width: 67%;
    height: auto;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: black;
}

#BigText {
    color: #eaf3f0;
    font-size: 24px;
    font-family: ui-monospace;
    padding-left: 7px;
    display: flex;
    flex: none;
    margin-top: -4px;
    margin-left: 16%;
}

#allColor {
    background-color: blue;
}
/*.container {
    background-color: blue;
}*/
header {
    background-color: blue;
    width: 100%;
}

#linkA li a {
    color: #dae0cc;
    padding-left: 62px;
    font-size: 20px;
    font-weight: 900;
    font-family: ui-monospace;
}

#linkA ul {
    padding-top: 10px;
}

.imagesAll {
    width: 100%;
    height: 500px;
    background-image: url(./a1.jpg);
    background-position: center;
    background-size: cover;
}

.imageLogo {
    height: 35px;
    width: auto;
    margin-right: -12%;
    margin-left: 1%;
}
